<footer class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <a href="#" class="logo">
            <img src="assets/img/logo.png" alt="Логотип компании">
          </a>
          <p class="footer-text">
            {{textFooter}} 
          </p>
        </div>
        <div class="col-lg-4">
          <a href="#" class="arrow_a"><img src="assets/img/Arrow_up.png" alt="" class="arrow"></a>
        </div>
        
        <div class="col-lg-2 col-md-4 col-sm-6">
          <nav class="menu">
            <h5 class="menu__title">{{menu}}</h5>
            <ul class="menu__list">
              <li>
                <a href="#header">{{home}}</a>
              </li>
              <li>
                <a href="#technology">{{technology}}</a>
              </li>
              <li>
                <a href="#principleWork">{{princepleWork}}</a>
              </li>
              <li>
                <a href="#contacts">{{contacts}}</a>
              </li>
              <li class="accent">
                <a href="#the_bestWork">{{the_bestWork}}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>