<section class="contacts" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title">
                    <span>{{title}}</span><br>
                    <div class="subTitle">{{subtitle}}</div>
                </h2>
            </div>
            <div class="col-12">
                <div class="contacts_wrapper">
                    <div class="email">
                        <img src="assets/img/mdi_email.png" alt="">
                        <div class="content">
                            Email:<span>vladantonyak2@gmail.com</span>
                        </div>
                    </div>
                    <div class="phones">
                        <img src="../assets/img/icon call.png" alt="">
                        <span>0661031999</span>
                        <span>0931031999</span>
                    </div>
                    <div class="facebook">
                        <img src="../assets/img/facebook.png" alt="">
                        <div class="facebook_text">
                            Facebook:<span>Vlad Antonyak</span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
