<section class="the_bestWork" id="the_bestWork">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section__title">
              <span>{{title}}</span><br>
              <div class="subtitle">{{subtitle}}</div>
          </h2>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-lg-6 column-left">
          <div class="design">
            <a href="https://vladantr.github.io/SiteAVR/"><img src="assets/img/image 22.png" alt="Фото телефона" class="design__img img-fluid"></a>
          </div>
          <div class="design">
            <a href="https://vladantr.github.io/Church/"><img src="assets/img/image 23.png" alt="Фото телефона" class="design__img img-fluid"></a>
          </div>
          <div class="design">
            <a href="#"><img src="assets/img/image 24.png" alt="Фото телефона" class="design__img img-fluid"></a>
          </div>
        </div>
        <div class="col-lg-6 column-right">
          <div class="design">
            <a href="#"><img src="assets/img/image 21.png" alt="Фото телефона" class="design__img img-fluid"></a>
          </div>
          <div class="design">
            <a href="https://vladantr.github.io/Mattresses/"><img src="assets/img/image 20.png" alt="Фото телефона" class="design__img img-fluid"></a>
          </div>
          <div class="design">
            <a href=" https://vladantr.github.io/Pizza/"><img src="assets/img/image 25.png" alt="Фото телефона" class="design__img img-fluid"></a>
          </div>
        </div>
        
      </div> 
    </div>
  </section>