<section class="proof" id="technology">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section__title">
              <span>{{title}}</span><br>
              {{subtitle}}
          </h2>
        </div>
      </div>
      <div class="row d-flex align-items-lg-start">
        <div class="col-lg-8 col-md-6">
          <div class="row cards">
            <div class="col-lg-6">
              <div class="card card">
                <img src="assets/img/image 14.png" alt="Картинка преимущества" class="card__img">
                <h3 class="card__title">
                  {{titleCard_1}}
                </h3>
                <p class="card__disc">
                  {{description_1}}
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <img src="assets/img/image 19.png" alt="Картинка преимущества" class="card__img">
                <h3 class="card__title">
                  {{titleCard_2}}
                </h3>
                <p class="card__disc">
                  {{description_2}}
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <img src="assets/img/image 19.png" alt="Картинка преимущества" class="card__img">
                <h3 class="card__title">
                  {{titleCard_3}}
                </h3>
                <p class="card__disc">
                  {{description_3}}
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <img src="assets/img/image 14-1.png" alt="Картинка преимущества" class="card__img">
                <h3 class="card__title">
                  {{titleCard_4}}
                </h3>
                <p class="card__disc">
                  {{description_4}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center align-items-center">
          <div class="card_big">
            <img src="assets/img/icon_advantages.png" alt="Картинка преимущества" class="card_big_img">
            <h3 class="card_big_title">
              {{titleBigCard}}
            </h3>
            <p class="card_big_disc">
              {{firstAdvantage}}<br>
              {{secondAdvantage}}<br>
              {{thirdAdvantage}}<br>
              {{fourthAdvantage}}<br>
              {{fifthAdvantage}}<br>
              {{sixthAdvantage}}<br>
              {{seventhAdvatage}}<br>
              {{eighthAdvatage}}<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>