.section__title {
	font-weight: 800;
	font-size: 33px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 75px;
}
.section__title span {
	color: #EE7096;
	font-size: 18px;
	display: block;
}

section {
	padding: 80px 0;
}

