<section class="keys" id="principleWork">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section__title">
              <span>{{title}}</span><br>
              {{subtitle}}
          </h2>
        </div>
      </div>
      <div class="pricilpeWork_wrapper">
          <div class="text_content">{{beginWork}}</div>
          <div class="text_content">{{principle_2}}</div>
          <div class="text_content">{{principle_3}}</div>
          <div class="text_content">{{endWork}}</div>
          <div class="pricilpeWork_btn"><a href="#">{{button}}</a></div>
      </div>
      <!-- <div class="row d-flex">
        <div class="col-lg-6 column-left">
          <div class="design">
            <img src="assets/img/image 22.png" alt="Фото телефона" class="design__img img-fluid">
            <div class="design__info">
              <h4 class="design__title">
                Продуктивный дизайн
              </h4>
              <p class="design__disc">
                Сайт рыбатекст поможет дизайнеру
              </p>
            </div>
          </div>
          <div class="design">
            <img src="assets/img/image 23.png" alt="Фото телефона" class="design__img img-fluid">
            <div class="design__info">
              <h4 class="design__title">
                Продуктивный дизайн
              </h4>
              <p class="design__disc">
                Сайт рыбатекст поможет дизайнеру
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 column-right">
          <div class="design">
            <img src="assets/img/image 21.png" alt="Фото телефона" class="design__img img-fluid">
            <div class="design__info">
              <h4 class="design__title">
                Продуктивный дизайн
              </h4>
              <p class="design__disc">
                Сайт рыбатекст поможет дизайнеру
              </p>
            </div>
          </div>
          <div class="design">
            <img src="assets/img/image 20.png" alt="Фото телефона" class="design__img img-fluid">
            <div class="design__info">
              <h4 class="design__title">
                Продуктивный дизайн
              </h4>
              <p class="design__disc">
                Сайт рыбатекст поможет дизайнеру
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>