<div class="col-xl-6 col-lg-7 col-auto d-flex align-items-center order-lg-0 order-1" style="max-width: 100%;">
    <nav class="head__menu">
      <ul class="head__links d-flex">
        <li class="head__item">
          <a href="#header" class="head__link">
            {{home}}
          </a>
        </li>
        <li class="head__item">
          <a href="#technology" class="head__link">
            {{technology}}
          </a>
        </li>
        <li class="head__item">
          <a href="#principleWork" class="head__link">
           {{princepleWork}}
          </a>
        </li>
        <li class="head__item">
          <a href="#contacts" class="head__link">
            {{contacts}}
          </a>
        </li>
      </ul>
      <button type="button" class="menu-close" id="closeMenu">x</button>
    </nav>
    <div class="hamburger">
      <img src="assets/img/hamburger.svg" alt="Гамбургер">
    </div>
  </div>